{% extends "layout.html" %}
{% block body %}
<div>
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead text-muted">
          Your balance has been updated.
        </p>
        <hr />
        <p class="lead">
          <a
            class="btn btn-primary btn-sm"
            href="/"
            role="button"
            >Continue to homepage</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
